.MMM-MonthlyCalendar .wrapper {
  width: 100%;
  table-layout: fixed;
}

.MMM-MonthlyCalendar .header {
  text-align: center;
}

.MMM-MonthlyCalendar .weeknum {
  width: 3ch;
}

.MMM-MonthlyCalendar .cell {
  height: 120px;
  text-align: center;
  vertical-align: top;
}

.MMM-MonthlyCalendar .today {
  background-color: rgba(192, 192, 192, 0.2);
}

.MMM-MonthlyCalendar .event {
  text-align: left;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  margin-bottom: 1px;
  border-radius: 4px;
}

.MMM-MonthlyCalendar .event-nowrap {
  white-space: nowrap;
  overflow-x: hidden;
}

.MMM-MonthlyCalendar .event-label {
  padding-right: 0.5ex;
}

.MMM-MonthlyCalendar .event-lightbackground {
  color: black;
}

.MMM-MonthlyCalendar .other-month {
  filter: brightness(45%);
}

.MMM-MonthlyCalendar .past-date {
  filter: brightness(75%);
}

